{% extends 'base.html' %}
{% block body_content %}
<div class="container bg-light mt-5 p-4" style="width: 600px; height: 700px;">
    <div class="row">
            <h2 class="ml-4">Personal Blog</h2>
            <div class="ml-auto">
                <a href="{{url_for('views.NewArticle')}}" class="btn btn-success ml-2">+ Add</a>
            </div>
        <ul class="articlelist col-12 p-3 ml-3">
            {% for d in list_article%}
                <li>
                    <div class="d-flex">
                        <a href="/article/{{d.id}}" class="mt-2"><strong>{{d.title}}</strong></a> 
                        <div class="ml-auto">
                            <a href="/edit/{{d.id}}" class="btn btn-light">Edit</a>
                            <a href="/delete/{{d.id}}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                    <br>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}