<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-dark text-monospace">
    <nav class="navbar navbar-expand-lg bg-dark" style="font-size: 25px;">
        <a class="navbar-brand text-warning" href="{{url_for('views.Intro')}}" style="font-size: 30px;"><strong><i>Personal Blog</i></strong></a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-2">
              <a class="nav-link" href="{{url_for('views.Intro')}}">Introduction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('views.Home')}}">Guest-Section</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('views.Admin')}}">Admin-Section</a>
            </li>
          </ul>
          {% if user %}
            <div class="navbar-right">
              <a class="nav-link" href="{{url_for('auth.Logout')}}">{{user.username}} - Logout</a>
            </div>
          {% else %}
            <div class="navbar-right">
              <a class="nav-link" href="{{url_for('auth.Login')}}">Login</a>
            </div>
          {% endif %}
        </div>
    </nav>
      {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category, message in messages %}
              {% if category == "error"%}
                  <div class="alert alert-danger alter-dismissable fade show" role="alert" id="div_flash">
                    {{ message }}
                    <button type="button" onclick="removeFlash()" class="float-right"> <span aria-hidden="true">&times;</span></button>
                  </div>
              {% else %}
                  <div class="alert alert-success alter-dismissable fade show" role="alert" id="div_flash">
                    {{ message }}
                    <button type="button" onclick="removeFlash()" class="float-right"> <span aria-hidden="true">&times;</span></button>
                  </div>
              {% endif %}
            {% endfor %}
        {% endif %}
      {% endwith%}
    {% block body_content %}
    {% endblock %}
    <script src="../static/main.js"></script>
</body>
</html>