{% extends 'base.html' %}

{% block body_content %}
    <div class="container d-flex justify-content-center mt-5 text-light">
        <div class="d-inline">
            <div class="row">
                <div class="col-12">
                    <h2 style="text-align: center;">Welcome to the Personal Blog!</h2>
                    <br>
                </div>
                <div class="col-6">
                    <h4>The Project Idea From Roadmap.sh</h4>
                    <br>
                    <h4>Thanks to roadmap.sh for project idea</h4>
                    <br>
                    <span style="font-size: 100px; margin-left: 200px;">&hearts;</span>
                </div>
                <div class="col-6">
                    <h4>For Guest Section, login with:</h4>
                    <h4>username:Guest, password:Guest</h4>
                    <br>
                    <h4>For Admin Section, login with:</h4>
                    <h4>username:Admin, password:Admin</h4>
                    <br>
                    <h4>You should login for see other pages.</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}